# Ignore node_modules
node_modules

# Ignore build output
dist

# Ignore .env files
.env*

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore IDE and editor files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?